@font-face {
    font-family: 'Zelek';
    src: url('Zelek-Bold.woff2') format('woff2'),
        url('zelek-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

